<% if line_item == @current_item %>
  <% current_tag = 'current_item' %>
<% else %>
  <% current_tag = '' %>
<% end %>

<tr id="<%= current_tag %>" >
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= price_in_locale(line_item.total_price) %></td>
  <td>
    <%= link_to 'V', decrement_line_item_path(line_item), method: :post, title: 'Remove one from cart', remote: true %>
    <%= link_to 'X', line_item, method: :delete, title: 'Remove from cart', remote: true %>
  </td>
</tr>
